/* You can add global styles to this file, and also import other style files */
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

html, body {
   height: 100%;
   width: 100%;
   padding: 5px;
   box-sizing: border-box;
   -webkit-overflow-scrolling: touch;
}

#myGrid {
    flex: 1 1 0px;
    width: 100%;
  
    --ag-value-change-delta-down-color: rgb(0, 200, 160);
    --ag-value-change-delta-up-color: rgb(255, 0, 80);
  }