<ng-container
    *ngIf="{stockItemCurrentPrice:this.stockItemCurrentPrice$ | async  , stockItems:this.stockItems$ | async } as data">
    <h1 id="tableLabel">Weather forecast</h1>
    <div> {{data.stockItemCurrentPrice?.[0] |json }}
    </div>
    <div>
        {{ TimeStampToDate(data.stockItems?.[0]?.updateTime) }} ||  {{ data.stockItems?.[0]?.updateTime |json }}

    </div>
    <div>
        {{ TimeStampToDate(data.stockItemCurrentPrice?.[0]?.updateTime) }} ||  {{ data.stockItemCurrentPrice?.[0]?.updateTime |json }}

    </div>
    <p>This component demonstrates fetching data from the server.</p>
</ng-container>